<!DOCTYPE html>
<html lang="en">
<% render "_head.html" %>

<body>
<% render "_navbar.html" %>

<div class="container theme-showcase">

    <div class="page-header">
        <h4>Cypher statement</h4>
    </div>
    <form method="post" action="cypher">
        <div>
            <textarea cols="120" rows="${model.cypher.split('\n').length}" name="query">${model.cypher}</textarea>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form>

    <h4>result</h4>
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <%for (column in model.columns) {%>
            <th>${column}</th>
            <%}%>
        </tr>
        </thead>
        <tbody>
        <%for (row in model.data) {%>
        <tr>
            <%for (column in model.columns) {%>
            <td>${row[column]}</td>
            <%}%>
        </tr>
        <%}%>
        </tbody>
    </table>

</div>
<!-- /container -->

<% render "_footer.html" %>
</body>
</html>
